@import "tailwindcss";

/* Definition of themes, shadows, colors, background, border-radius, etc. here. */
@theme {
  --logo-primary-color: #0082e5;
  --logo-secondary-color: #ff3410;
  --logo-font: "Poppins", sans-serif;

  --background-color: #f2f4f7;
  --post-background-color: #ffffff;

  --heading-color: #66676b;
  --text-primary: #353333;
  --text-secondary: #605b5b;

  --label-color: #a9a9a9;
  --input-color: #605b5b;
  --msg-box-border: #ffffff;

  --online-color: #01a814;

  --link-color: #0082e5;
  --active-page-color: #0082e5;
  --primary-button: #0082e5;
  --delete-button: #ff3410;

  --icon-color: #66676b;
  --icon-background: #d9d9d9;

  --unfocus-gradient: linear-gradient(135deg, #020617, #020617cc);

  --field-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  --post-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
  --button-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  --hard-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

/* Define the default styling of HTML elements. This acts as the base styling for the elements. Use only element in this section */
@layer base {
  body {
    @apply h-screen w-screen overflow-x-hidden overflow-y-auto bg-[var(--background)];
  }
}

/* Define your custom classes when you want to use the same styling in multiple elements. You can write pure CSS or @apply directives to use Tailwind CSS utility class */
@layer component {
     .active{
          @apply text-blue-600 scale-105;
     }
}

/* Here, you create your own utility classes that tailwind doesn't provide by default. */
@layer utilities {
     .hover-scale{
          @apply hover:scale-105 ease-in duration-200 active:scale-97;
     }

     .no-scale-on-hover:hover{
          @apply hover:scale-100;
     }
}
